html, body{
    margin:0%; height: auto; background-color: rgb(220, 220, 220);
}

/* Cabeçalho */
header{
    background-color: orange; height: 13%; width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

#title1{
    display: flex; justify-content: center;
}

#tec{
    color: rgb(81, 81, 81); display: inline-block; width: auto; margin: 0%;
}

#blog{
    color: white; display: inline-block; width: auto; margin: 0%; position: relative; right: 5px;
}

.links{
    display: flex; justify-content: center;
}

.pages{
    text-decoration: none; box-sizing: border-box;
    padding: .5rem 1rem;
    color: white; margin-top: 30px; font-size: 18px;
}

.leia{
    color: orange;
}

/* Conteúdo */
#section1{
    height: auto; width: 680px;
    display: flex; margin-left: 34.5%; margin-top: 20px;
}

.content1{
    background-color: white;
    height: 675px; width: 100%;
}

h2, .text1, img, .leia{
    display: flexbox; margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}

h2, .leia{
    color: orange;
}

/* navegacao */
#section2{
    height: 500px; width: 300px;
    display: flex; position: relative;
    left: 57.5%; bottom: 1370px;
}

#navigation1{
    background-color: white;
    height: 60%; width: 100%;
}

#navcontent1{
    background-color: rgb(186, 186, 186);
    height: 30px; width: 260px;
    margin-left: 20px; margin-top:10px;
    display: flexbox; 
}

.text2{
    background-color: rgb(165, 165, 165);
    display: flex; justify-content: left;
    margin: 0%;
    font-size: 0.6cm; color: rgb(43, 43, 43);
}

#navigation2{
    background-color: white;
    height: 50%; width: 100%;
    display: flex; margin-top: 280px;
}

#category{
    background-color: rgb(165, 165, 165);
    height: 30px; width: 260px;
    margin-top: 10px; margin-left: 20px;
}

.text3{
    margin: 0%; margin-top: 3px;
    display: flex; justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6cm; color: rgb(43, 43, 43);
}

.anav{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45cm;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: orange;
}

/* direitos */
#section3{
    height: 50px; width: 100%;
    display: flex; position: relative;
    bottom: 480px; left: 1000px;
}

.direitos{
    background-color: rgb(165, 165, 165);
    width: 1080px;
}

.direitos1{
    color: black;
    display: flex; justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.70cm;
    margin: 0%; top: 10px;
    position: relative;
}
