html, body{
    margin:0%; height: auto; background-color: rgb(220, 220, 220);
}

/* Cabeçalho */
header{
    background-color: orange; height: 13%; width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

#title1{
    display: flex; justify-content: center;
}

#tec{
    color: rgb(81, 81, 81); display: inline-block; width: auto; margin: 0%;
}

#blog{
    color: white; display: inline-block; width: auto; margin: 0%; position: relative; right: 5px;
}

.links{
    display: flex; justify-content: center;
}

.pages{
    text-decoration: none; box-sizing: border-box;
    padding: .5rem 1rem;
    color: white; margin-top: 30px; font-size: 18px;
}

/* Conteúdo */
section{
    height: auto; width: 340px;
    display: flexbox; margin-left: 675px; margin-top: 20px;
}

#maincontent{
    width: 200%;
    background-color: aqua;
}

.content1{
    background-color: white;
    height: 675px; width: 100%;
}

h2, p, img, .leia {
    display: flexbox; margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}

h2, a{
    color: orange;
}


