<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Desafio 2</title>
</head>
<body>
    <header>
        <div id="title1">
            <span>
                <h1 id="tec">Tec</h1>
                <h1 id="blog">Blog</h1>
            </span>
        </div>
        <div class="links">
            <a href="" class="pages"><b>Home</b></a>
            <a href=""  class="pages"><b>Jogos</b></a>
            <a href=""  class="pages"><b>Celulares</b></a>
            <a href=""  class="pages"><b>Informática</b></a>
            <a href=""  class="pages"><b>Eletrônicos</b></a>
        </div>
    </header>
    <section id="section1">
        <div id="maincontent" >
            <div class="content1">
                <h2>Titulo da postagem 1</h2>
                <p class="text1"><b>Postado 20 março 2022</b></p>
                <img src="../static/img/logo01.jpg" alt="img1">
                <p class="text1"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit consequuntur adipisci, debitis harum deserunt mollitia est reiciendis placeat repellat nihil magnam voluptatum ea minus perspiciatis commodi quaerat consequatur non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat, deserunt, saepe, a rerum inventore nulla nesciunt incidunt nobis rem possimus consequatur dolore fugit quos fugiat ipsam porro quae impedit!</b><br>
                <a href="">Leia mais</a></p>
            </div>
            <div class="content1">
                <h2>Titulo da postagem 2</h2>
                <p class="text1"><b>Postado 10 março 2022</b></p>
                <img src="../static/img/logo02.jpg" alt="img2">
                <p class="text1"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit consequuntur adipisci, debitis harum deserunt mollitia est reiciendis placeat repellat nihil magnam voluptatum ea minus perspiciatis commodi quaerat consequatur non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat, deserunt, saepe, a rerum inventore nulla nesciunt incidunt nobis rem possimus consequatur dolore fugit quos fugiat ipsam porro quae impedit!.. </b><br>
                <a href="">Leia mais</a></p>
            </div>
        </div>
    </section>
    <section id="section2">
        <div id="navigation1">
            <div id="navcontent1">
                <p class="text2">Postagens recentes</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia amet maxime ullam excepturi dignissimos iste, mollitia eum unde perspiciatis expedita odio!<br>
                <a href="">Leia mais</a></p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iste incidunt modi nisi, deserunt ad necessitatibus quam sed non. Odio consequatur.<br>
                <a href="">Leia mais</a></p>
            </div>
            <div id="navigation2">
                <div id="category">
                    <p class="text3">Categorias</p>
                    <a href="" class="anav">Home</a><br>
                    <a href="" class="anav">jogos</a><br>
                    <a href="" class="anav">Celulares</a><br>
                    <a href="" class="anav">Informática</a><br>
                    <a href="" class="anav">Eletrônicos</a><br>
                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <div class="direitos">
            <p class="direitos1"><b>Todos os direitos reservados</b></p> 
        </div>
    </section>
</body>
</html>