<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Desafio 2</title>
</head>
<body>
    <header>
        <div id="title">
            <span>
                <h1 id="tec">Tec</h1>
                <h1 id="blog">Blog</h1>
            </span>
        </div>
        <div class="links">
            <a href="" class="pages"><b>Home</b></a>
            <a href=""  class="pages"><b>Jogos</b></a>
            <a href=""  class="pages"><b>Celulares</b></a>
            <a href=""  class="pages"><b>Informática</b></a>
            <a href=""  class="pages"><b>Eletrônicos</b></a>
        </div>
    
    </header>
    <main>
        
    </main>
    
</body>
</html>